*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.logo ul li{
    text-align: right;
    list-style: none;
    display: inline-block;
}
body{
    background-image: linear-gradient(rgba(100, 100, 100, 0.1),
    rgba(100, 100, 100, 0.1)),
    url("../css/asset/colorpurple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    position: relative;
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    padding-top: 3vh;
    flex-direction: column;
    width: 100%;
}

.logo ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2vh;
    list-style: none;
    display: inline-block;
    padding: 4px 16px;
    font-size: 1.1vw;
}

.logo ul li {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 4px 16px;
}

.logo ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: pink;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.logo ul li a:hover::after {
    width: 100%;
}

h1{
    font-size: 5vw;
    color: whitesmoke;
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 2vw;
}
h4{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
table{
    text-align: center;
}

.logo ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2vh;
    list-style: none;
    padding: 4px 16px;
    display: inline-block;
    font-size: 1.1vw;
}

.logo ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: pink;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.logo ul li a:hover::after{
    width: 100%;
}

.logo ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 4px 16px;
    margin-left: 98vh;
}

.sm{
    position: relative;
    text-align: center;
    margin-top: 15vh;
}
.sm ul li{
    position: relative;
    display: inline-block;
    cursor: pointer;
    list-style: none;
    padding: 4px 16px;
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
.footer p{
    padding-top: 1vh;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    font-size: small;
}

button{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
    border: white;
    border-width: 1rem;
    background-color: palevioletred;
    color: whitesmoke;
}

.addcart
{
    /* padding-left: 1.5rem;
    padding-right: 1.5rem; */
    background-color: palevioletred;
    border: none;
    border-radius: 2rem;
    padding: 5px 1.5rem 5px 1.5rem;
    color: whitesmoke;
}

.card{
    float: left;
    width: 33.33%;
    margin:10px;
    box-shadow: 2px 8px 8px 8px rgba(0,0,0,0.2);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
table{
    padding-right: 30px;
    padding-left: 30px;

}
