*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.logo ul li{
    text-align: right;
    list-style: none;
    display: inline-block;
}
body{
    /* background-image: linear-gradient(rgba(100, 100, 100, 0.1),
    rgba(100, 100, 100, 0.1)),
    url("../css/asset/colorpurple.jpg"); */
    background-color: linen;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    position: relative;
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    padding-top: 3vh;
    flex-direction: column;
    width: 100%;
}


.logo ul li {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 4px 16px;
    margin-left: 100vh;
}

.logo ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: lightcoral;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.logo ul li a:hover::after {
    width: 100%;
}


.logo ul li a{
    color: lightcoral;
    text-decoration: none;
    font-size: 2vh;
    list-style: none;
    padding: 4px 16px;
    display: inline-block;
    font-size: 1.1vw;
}

.logo ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: pink;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.logo ul li a:hover::after{
    width: 100%;
}

.logo ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 4px 16px;
    margin-left: 98vh;
}

.sm{
    position: relative;
    text-align: center;
    margin-top: 15vh;
}
.sm ul li{
    position: relative;
    display: inline-block;
    cursor: pointer;
    list-style: none;
    padding: 4px 16px;
    font-size: 20px;
    color: lightcoral;
}
.footer p{
    padding-top: 1vh;
    color: lightcoral;
    font-size: small;
}

button{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
    border: white;
    border-width: 1rem;
    background-color: palevioletred;
    color: whitesmoke;
}

.container p{
    color: white;
    text-align: center;
    padding: 5px;
}
.row ul li{
    list-style: none;
    color: white;
    text-align: center;
    padding: 5px;
}

hr{
    color: white;
    width: 80%;
    margin: auto;
}
.card{
    background-color: palevioletred;
    border-radius: 1rem;
    width: 45%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    box-shadow: 2px 8px 8px 8px rgba(0,0,0,0.2);
}




